@using MVC_KutuphaneSistemi.Models.Entity
@model List<Kitaplar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h2 class="mb-5"><b>Kitaplar / </b>Kitap Listesi</h2>
        <br />
    </div>

    <div class="card-body">
        <table id="DataTable" class="table table-hover" style="width:100%">
            <thead>
                <tr>
                    <th>KİTAP ID</th>
                    <th>KİTAP ADI</th>
                    <th>KATEGORİ ADI</th>
                    <th>YAZAR ADI</th>
                    <th>DURUM</th>
                    <th>İŞLEMLER</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var kitaplar in Model)
                {
                    <tr>
                        <td>@kitaplar.ID</td>
                        <td>@kitaplar.Ad</td>
                        <td>@(kitaplar.Kategoriler != null ? kitaplar.Kategoriler.Ad : "N/A")</td>
                        <td>
                            @(kitaplar.Yazarlar != null ? $"{kitaplar.Yazarlar.Ad} {kitaplar.Yazarlar.Soyad}" : "N/A")
                        </td>
                        <td style="color: @(kitaplar.Durum.HasValue && kitaplar.Durum.Value ? "green" : "red")">
                            @(kitaplar.Durum.HasValue ? (kitaplar.Durum.Value ? "AKTİF" : "PASİF") : "N/A")
                        </td>

                        <td>
                            <a href="/Kitap/KitapSil/@kitaplar.ID" class="btn btn-danger" onclick="return confirm('Gerçekten silmek istiyor musunuz?')">SİL</a>
                            <a href="/Kitap/KitapGetir/@kitaplar.ID" class="btn btn-primary">GÜNCELLE</a>
                            <a href="/Kitap/KitapDetay/@kitaplar.ID" class="btn btn-success">DETAY</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="card-footer">
        <br />
        <a href="/Kitap/YeniKitap/" class="btn btn-warning">Yeni Kitap Ekle</a>
    </div>
</div>




