@using MVC_KutuphaneSistemi.Models.Entity
@model List<Uyeler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h2 class="mb-5"><b>Uyeler / </b>Uye Listesi</h2>
        <br />
    </div>

    <div class="card-body">
        <table id="DataTable" class="table table-hover" style="width:100%">
            <thead>
                <tr>
                    <th>FOTOĞRAF</th>
                    <th>UYE ADI</th>
                    <th>DURUM</th>
                    <th>İŞLEMLER</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var uyeler in Model)
                {
                    <tr>
                        <td> <img src="@uyeler.Fotograf" alt="Fotoğraf" /></td>
                        <td>@uyeler.Ad @uyeler.Soyad</td>
                        <td style="color: @(uyeler.Durum.HasValue && uyeler.Durum.Value ? "green" : "red")">
                            @(uyeler.Durum.HasValue ? (uyeler.Durum.Value ? "AKTİF" : "PASİF") : "N/A")
                        </td>
                        <td>
                            <a href="/Uye/UyeSil/@uyeler.ID" class="btn btn-danger" onclick="return confirm('Gerçekten silmek istiyor musunuz?')">SİL</a>
                            <a href="/Uye/UyeGetir/@uyeler.ID" class="btn btn-primary">GÜNCELLE</a>
                            <a href="/Uye/DetayGör/@uyeler.ID" class="btn btn-warning">DETAY</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="card-footer">
        <br />
        <a href="/Uye/YeniUye/" class="btn btn-warning">Yeni Uye Ekle</a>
    </div>
</div>




